on:
  workflow_call:
jobs:
  check:
    name: Deploy to server
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server with SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd docker-berezify
            cat > docker-compose.yml << EOF
            version: '3'
            services:
                berezify:
                    image: ghcr.io/wadjetz/berezify:latest
                    container_name: berezify
                    ports:
                        - 4000:3000
            EOF
            docker-compose down
            docker-compose pull
            docker-compose up -d
