name: Deploy to server

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  check:
    uses: ./.github/workflows/_check.yml
  build_container:
    uses: ./.github/workflows/_build_container.yml
    secrets: inherit
    needs: check
  deploy_to_server:
    uses: ./.github/workflows/_deploy_to_server.yml
    secrets: inherit
    needs: [check, build_container]
