name: Deploy to server

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  check:
    uses: ./.github/workflows/_check.yml
  build_container:
    uses: ./.github/workflows/_build_container.yml
    secrets: inherit
    needs: check
